@namespace Shipwreck.ViewModelUtils.Components
@inherits PopoverRowBase
@using (OnBeginRender())
{
    var col = LabelColumn ?? DefaultLabelColumn;

    if (IsVisible ?? !string.IsNullOrEmpty(Value))
    {
        <dt class="col-@col">
            <label title="@Description">@Title</label>
        </dt>
        <dd class="col-@(12 - col)">
            @if (Command == null)
            {
                @Value
            }
            else
            {
                <a href="@(Command.Href ?? "javascript:void(0)")"
                   title="@Command.Description"
                   @onclick="@(() => Command.Execute())"
                   @onclick:preventDefault="true"
                   data-enhance-nav="false">
                    @Value
                </a>
            }
        </dd>
    }
}
@code
{
    #region Value

    private string _Value;

    [Parameter]
    public string Value
    {
        get => _Value;
        set => SetProperty(ref _Value, value);
    }

    #endregion

    [Parameter]
    public ICommandViewModel Command { get; set; }
}
