@namespace Shipwreck.ViewModelUtils.Components
@inherits PopoverRowBase
@{
    var col = LabelColumn ?? DefaultLabelColumn;
}
@if (IsVisible ?? (Value != null))
{
    <dt class="col-@col">
        <label title="@Description">@Title</label>
    </dt>
    <dd class="col-@(12 - col)">
        @if (Command == null)
        {
            @Value?.ToString(DisplayFormat)
        }
        else
        {
            <a href="@(Command.Href ?? "javascript:void(0)")"
       title="@Command.Description"
       @onclick="@(() => Command.Execute())"
       @onclick:preventDefault>
                @Value?.ToString(DisplayFormat)
            </a>
        }
    </dd>
}
@code
{
    #region Value

    private int? _Value;

    [Parameter]
    public int? Value
    {
        get => _Value;
        set => SetProperty(ref _Value, value);
    }

    #endregion

    #region DisplayFormat

    private string _DisplayFormat = "#,0";

    [Parameter]
    public string DisplayFormat
    {
        get => _DisplayFormat;
        set => SetProperty(ref _DisplayFormat, value);
    }

    #endregion

    [Parameter]
    public ICommandViewModel Command { get; set; }
}
