@namespace Shipwreck.ViewModelUtils.Components
@inherits PopoverRowBase
@{
    var col = LabelColumn ?? DefaultLabelColumn;
}
@if (IsVisible ?? (Value != null))
{
    <dt class="col-@col">
        <label title="@Description">@Title</label>
    </dt>
    <dd class="col-@(12 - col)">
        @if (Command == null)
        {
            @Value?.ToString(DisplayFormat)
        }
        else
        {
            <a href="@(Command.Href ?? "javascript:void(0)")"
       title="@Command.Description"
       @onclick="@(() => Command.Execute())"
       @onclick:preventDefault>
                @Value?.ToString(DisplayFormat)
            </a>
        }
    </dd>
}
@code
{
    [Parameter]
    public int? Value { get; set; }

    [Parameter]
    public string DisplayFormat { get; set; } = "#,0";

    [Parameter]
    public ICommandViewModel Command { get; set; }
}
