@namespace Shipwreck.ViewModelUtils.Components

<PopoverFrame ReferenceElement="@ReferenceElement"
              Boundaries="@Boundaries"
              Header="@Title"
              OnClosed="@(() => Presenter?.CloseModal())">
    <table class="table table-sm">
        <tbody>
            @{
                _Values ??= Options.Where(e => e.IsSelected).Select(e => e.Value).ToHashSet();
            }
            @foreach (var op in Options)
            {
                var selected = _Values.Contains(op.Value);
                <tr @key="@op.Value">
                    <td style="max-width: 1.5rem">
                        <a href="javascript:void(0)"
                           class="btn btn-block btn-link border-0 p-0"
                           @onclick="@(() => Toggle(op.Value, !selected))"
                           data-enhance-nav="true">
                            <span class="@(selected ? "fas fa-check-square" : "far fa-square")"></span>
                        </a>
                    </td>
                    <td>
                        <a href="javascript:void(0)"
                           class="btn btn-block btn-link border-0 p-0 text-left"
                           @onclick="@(() => Select(op.Value))"
                           data-enhance-nav="true">
                            @(op.Name.TrimOrNull() ?? "(null)")
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (!string.IsNullOrEmpty(Description))
    {
        <div>@Description</div>
    }
</PopoverFrame>
@code
{
    private HashSet<string> _Values;

    private void Toggle(string value, bool isSelected)
    {
        if (isSelected ? _Values.Add(value) : _Values.Remove(value))
        {
            OnChanged();
        }
    }

    private void Select(string value)
    {
        if (_Values?.Count == 1 && _Values.First() == value)
        {
            return;
        }
        _Values = new() { value };
        OnChanged();
    }

    private void OnChanged()
        => ValueChanged?.Invoke(
            _Values?.Count == Options.Count
            ? string.Empty
            : string.Join(",", _Values ?? []));
}
