@namespace Shipwreck.ViewModelUtils.Components
@using Shipwreck.ViewModelUtils.Searching
@inherits BindableComponentBase<SearchPropertyGroupViewModel>
@using (OnBeginRender())
{
    var d = DataContext;

    if (!d.IsRoot)
    {
        <h6>
            <button type="button"
                    class="btn btn-outline-primary border-0"
                    @onclick="@d.ToggleIsExpanded">
                <span class="fas @(d.IsExpanded ? "fa-chevron-down" : "fa-chevron-right")"></span>
                @d.DisplayName
            </button>
        </h6>
    }
    if (d.IsExpanded)
    {
        <div style="display:flex; flex-flow: row wrap">
            <ListScope T="SearchPropertyViewModel"
                       Source="d.Properties">
                @foreach (var p in d.Properties)
                {
                    <DataContextScope @key="p.GetHashCode()"
                                      DataContext="p">
                        <span style="white-space: nowrap">
                            <button type="button"
                                    class="btn btn-sm btn-link"
                                    @onclick="@(() => d.GetOrCreateCondition(p, ConditionCreationBehavior.CreateNew | ConditionCreationBehavior.PreferNew))">
                                @p.DisplayName
                            </button>
                            @if (p.ConditionCount > 0)
                            {
                                <span class="badge badge-danger ml-2">@p.ConditionCount</span>
                            }
                        </span>
                    </DataContextScope>
                }
            </ListScope>
        </div>
        <div class="pl-2">
            @foreach (var c in d.Children)
            {
                <SearchPropertiesModalGroup @key="c.GetHashCode()"
                                            DataContext="c" />
            }
        </div>
    }
}
