@inherits PageBase<MenuPageViewModel>
@page "/"
@using (OnBeginRender())
{
    <h1>Hello, world!</h1>

    @("Welcome to your new app.")

    <button @onclick="@(() => DataContext?.OpenFile())">
        OpenFile
    </button>
    <button @onclick="@(() => DataContext?.DownloadFile())">
        DownloadFile
    </button>
    <button class="btn btn-block" @onclick="@(() => DataContext?.NavigateToListTest())">
        ListTest
    </button>
    <button class="btn btn-block" @onclick="@(() => DataContext?.NavigateToButtonTest())">
        ButtonTest
    </button>

    <div>
        <button @onclick="@(() => DataContext?.ShowSuccessToastAsync(DateTime.Now.ToString()))">ShowSuccessToastAsync</button>
        <button @onclick="@(() => DataContext?.ShowErrorToastAsync(DateTime.Now.ToString()))">ShowErrorToastAsync</button>
    </div>
}
@code
{
    protected override FrameworkPageViewModel GetOrCreateDataContext()
        => base.DataContext as MenuPageViewModel ?? new MenuPageViewModel(this);
}
