@namespace Shipwreck.ViewModelUtils.Components
@inherits FormGroupBase
@using (OnBeginRender())
{
    var theme = Theme ?? FormGroupTheme.Default; 
    <div id="@FormGroupId"
         class="@theme.FormGroupClass @AdditionalClass">
        <label for="@EntitySelectorId"
               class="@theme.LabelClass @AdditionalLabelClass"
               title="@Description">
            @if (ChildContent != null)
            {
                @ChildContent
            }
            else
            {
                @Title
            }
        </label>
        <EntitySelectorView @ref="_EntitySelectorView"
                            ElementId="@EntitySelectorId"
                            DataContext="@DataContext"
                            IsEnabled="@(!GetIsDisabled())"
                            IsRequired="@GetIsRequired()"
                            IsNameVisible="@IsNameVisible"
                            AppendToSelector="@AppendToSelector"
                            EnterCommand="@EnterCommand"
                            EnterCommandParameter="@EnterCommandParameter" />
    </div>
}
@code
{
    private EntitySelectorView _EntitySelectorView;

    public override ValueTask FocusAsync(bool selectAll = false)
        => _EntitySelectorView?.FocusAsync(selectAll) ?? default;
}
