@typeparam T
@inherits StackPanel<T>
@using (OnBeginRender())
{
        <div @attributes="@GetElementAttributes()">
    <div @attributes="@GetHeaderBackgroundAttributes()"></div>
    <div @attributes="@GetScrollerAttributes()"
         @ref="@Element">
        <table @attributes="@GetTableAttributes()">
            @if (HeaderTemplate != null)
            {
                <thead @attributes="@GetTableHeadAttributes()">
                    @HeaderTemplate
                </thead>
            }
            <tbody @attributes="@GetTableBodyAttributes()">
                @{
                    var sequence = 100;
                    RenderItemsAndPaddings(__builder, ref sequence);
                }
            </tbody>
            @if (FooterTemplate != null)
            {
                @FooterTemplate
            }
        </table>
    </div>
    </div>
}
